.experience-container {
  width: 100%;
  background-color: #050815;
  padding-block: 20px;
}
.exp-sub {
  width: 100%;
  max-width: 1400px;
  padding-inline: 12px;
  margin: auto;
}

.intro-text {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 5px;
  color: #c5c5c5;
}

.exp-h2 {
  font-size: 50px;
  padding-block: 10px;
}
.exp-section {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
}
