.hero-container {
  width: 100%;
  height: 100dvh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*-webkit-user-select: none;*/
  /*user-select: none;*/
}

.hero-container img {
  width: 100%;
  position: absolute;
  z-index: -1;
  filter: brightness(90%);
}

.hero-container-main {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  padding-inline: 12px;
}

.hero-container-sub-one {
  position: absolute;
  top: 120px;
}

.hero-container-sub-one {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 10px;
}

.sub-one-design {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.round {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #8f5cf5;
}
.full {
  width: 0.22rem;
  background-image: linear-gradient(to bottom, #915eff, #171025);
  height: 22rem;
}
.about-section {
  max-width: 700px;
  width: 100%;
}

.about-section h2 {
  font-size: 3rem;
}

.about-section span {
  color: #905ff9;
}

.about-section h3 {
  font-size: 2.5rem;
  padding-block: 10px;
}

.about-section p {
  font-size: 1.1rem;
  line-height: 2rem;
}

@media (max-width: 750px) {
  .hero-container-sub-one {
    position: absolute;
    top: 100px;
  }

  .about-section {
    padding-right: 5px;
  }
  .about-section h2 {
    font-size: 2.8rem;
  }

  .about-section h3 {
    font-size: 2.2rem;
    padding-block: 10px;
  }

  .about-section p {
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

@media (max-width: 550px) {
  .hero-container-sub-one {
    position: absolute;
    top: 80px;
  }
  .about-section {
    padding-right: 10px;
  }

  .about-section h2 {
    font-size: 2.5rem;
  }

  .about-section h3 {
    font-size: 1.8rem;
    padding-block: 10px;
  }

  .about-section p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}

@media (max-width: 380px) {
  .about-section h2 {
    font-size: 2.3rem;
  }

  .about-section h3 {
    font-size: 1.5rem;
    padding-block: 10px;
  }

  .about-section p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}
